bokeh==3.7.0 #Updated version for compatibility
panel==1.8.2       # Required for interactive dashboard in VS Code/Jupyter
pandas==2.3.3
ipykernel==6.30.1
matplotlib==3.10.7
seaborn==0.13.2
openpyxl==3.1.5
altair==5.5.0       # If using vega-altair
squarify==0.4.4
plotly==5.24.1     # Interactive charts, needed for dendrogram
dash==2.18.2        # Web framework for interactive drill-down